<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="StyleCop.Analyzers rules" Description="StyleCop.Analyzers Rules" ToolsVersion="14.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <!-- Disable requiring XML documentation -->
    <Rule Id="CS1591" Action="None" />  <!-- Missing XML comment for publicly visible type or member -->
    <Rule Id="SA1633" Action="None" />  <!-- File must have header -->
    <Rule Id="SA1600" Action="None" />  <!-- Elements must be documented -->
    <Rule Id="SA1601" Action="None" />  <!-- Partial elements must be documented -->
    <Rule Id="SA1602" Action="None" />  <!-- Enumeration items must be documented -->
    
    <!-- Disable underscore prefix rule -->
    <Rule Id="SA1309" Action="None" />  <!-- Field names must not begin with underscore -->
    
    <!-- Disable this. prefix requirement -->
    <Rule Id="SA1101" Action="None" />  <!-- Prefix local calls with this -->
    
    <!-- Make trailing commas optional -->
    <Rule Id="SA1413" Action="None" />  <!-- Use trailing comma in multi-line initializers -->
  </Rules>
</RuleSet> 